# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv
venv/
env/

# Node / frontend
node_modules/
dist/
build/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
*.egg-info/

# Output folders
backend/site_out/
